{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <nav>
        <div>
            <!-- Brand and toggle get grouped for better mobile display -->
            <div>
                <button type="button" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
            <span>Toggle navigation</span>
            <span></span>
            <span></span>
            <span></span>
        </button>
                
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div>
                <ul>
                    {% if user.is_authenticated %}
                        <li>Profile</li>
                        <li>Logout</li>
                    {% else %}
                        <li>Login</li>
                        <li>Signup</li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    {% block content %}{% endblock %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    {% block extra_scripts %}{% endblock %}

</body>

</html>


